<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <img class="navbar-brand" style="max-width: 324px" src="/public/assets/move_transparent.png" href="/"
             alt="Move"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/new">New Workout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Workouts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/exercises">Excercises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/exercises/new">New Exercise</a>
            </li>

            <li class="nav-item dropdown">
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="/new">New Workout</a>
                    <a class="dropdown-item" href="/">Workouts</a>
                    <a class="dropdown-item" href="/exercises">Excercises</a>
                    <a class="dropdonw-item" href="/exercises/new">New Exercise</a>
                </div>
            </li>
        </ul>
    </div>
</nav>